:root {
  --primary: rgba(251, 204, 255, 0.8);
  --bg: #010101;
  --sencod: rgb(83, 57, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Cookie Static";
  background-color: var(--bg);
  color: #fff;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(251, 204, 255, 0.8);
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-nav span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--sencod);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--sencod);
  transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
  transition: 0.2s linear;
}

/* .navbar .navbar-extra button {
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem 4rem;
  background-color: var(--primary);
  border-radius: 1rem;
} */
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--sencod);
}

#hamburger-menu {
  display: none;
}
/*  Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1, center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 70rem;
}
.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 6rem;
}
.hero .content h1 span {
  color: rgba(251, 204, 255, 0.8);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 2rem;
  /* mix-blend-mode: difference; */
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 20rem;
  box-shadow: 1px 1px 3px rgba(48, 48, 48, 0.158);
}

/* About Section */

.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  padding-bottom: rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}
/* Menu section */
.menu h2,
.contact p {
  margin-bottom: 2rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 40rem;
  font-size: 1.5rem;
  margin: auto;
  line-height: 1.6;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .menu-card {
  text-align: center;
  padding-bottom: 3rem;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 50%;
}
.menu .row .menu-card .menu-card-title {
  margin: 1.5rem auto 1rem;
}
.row .menu-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #332e2e;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid white;
  padding-left: 2rem;
  border-radius: rem;
}
.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}
.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 5rem;
}

/* Footer section */
footer {
  text-align: center;
  background-color: #4d4d4d;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .link {
  margin-bottom: 1rem;
}
footer .link a {
  color: #ffffff;
  padding: 2rem 1rem;
}
footer .social a {
  color: #fff;
  margin: 1rem;
}
footer .social a:hover,
footer .link a:hover {
  color: var(--bg);
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Quaries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 52.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 40rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .about .row .content p {
    text-align: center;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
